:root {
  font-size: 60%;
  --primary-color: #e3bb44;
  --primary-color-hover: #e3c25f;
  --secundary-color: #1c1c24;
  --color-input-background: #2d2d3a;
  --background-main: #131419;
  --almost-white: #fcfcfc;
  --placeholder-white: #cccccc;
  --button-color: #2d2d3a;
  --button-color-hover: #404052;
  --border-header-color: #262631;
  --font-color-secondary: #5F5F6E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  html,
  body,
  #root,
  .app
  {
    min-height: 100vh;

  }

.app {
  background-color: var(--background-main);

}

body,
button,
input,
textarea {
  font: 500 1.6rem "Quicksand", sans-serif;
  color: var(--almost-white);
}

.centralize-things-container {
  width: 90%;
  min-height: 92vh;
}


@media (min-width: 800px) {
  :root {
    font-size: 62.5%;
  }


}
