  
:root {
    font-size: 60%;

    --color-primary: #77d9bb;
    --color-primary-dark: #74d4b7;
    --color-input-border: #e0e0e0;
    --color-white: #fff;
    --white-little-dark:#fcfcfc;
    --almost-black: #515151;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App{
    height: 100vh;
    
}

body,
button,
input,
textarea{
    font: 500 1.6rem 'Quicksand', sans-serif;
    color: var(--almost-black);
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}