.feed-container {
  display: flex;

  flex-direction: column;
  align-items: center;

  min-height: 600px;
}

.feed-container .before-nouttes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.feed-container .before-nouttes button {
  width: 150px;
  height: 50px;
  background-color: var(--button-color);
  border: none;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.feed-container .before-nouttes button:hover {
  background-color: var(--button-color-hover);
}

.feed-container .nouttes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;

  margin-bottom: 50px;


}

.feed-container .center-container .wrapper-n-container {
  width: 100%;
  display: flex;
  justify-content: center;
}




@media (max-width: 1300px) {
  .feed-container .nouttes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .feed-container .nouttes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .feed-container .nouttes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (min-width: 1800px) {
  .feed-container .nouttes-container {
    grid-template-columns: repeat(5, 1fr);
  }
}