.profile-container {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.centralize-profile-container {
  width: 90%;
  min-height: 92vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.profile-container .left-container {
  margin-right: 60px;
  width: 30%;
}

.profile-container .left-container h2 {
  margin-bottom: 20px;
  margin-left: 5px;
}

.profile-container .left-container .profile-pic-wrapper {
  margin-bottom: 30px;
  height: 360px;
  width: 290px;
  background: var(--secundary-color);
  border-radius: 15px;
  padding: 15px;
}

.left-container .profile-pic-wrapper .profile-picture {
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
}

.left-container .profile-pic-wrapper button {
  width: 100%;
  height: 50px;
  background: var(--secundary-color);
  border: 2px solid var(--button-color);
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.left-container .profile-pic-wrapper button:hover {
  background: var(--button-color);
}

.left-container .social-wrapper #social-title {
  color: var(--font-color-secondary);
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.left-container .social-wrapper .social-media {
  width: 290px;
  height: 60px;
  background: var(--secundary-color);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-wrapper .social-media .icon-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-wrapper .social-media .icon-social {
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 15px;
  margin-right: 10px;
}

.social-wrapper .social-media p {
  font-size: 14px;
}

.social-wrapper .social-media a {
  height: 20px;
  width: 20px;
  background-color: var(--primary-color);

  border-radius: 50%;
  outline: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.profile-container .middle-container {
  width: 40%;
  padding-top: 30px;
  margin-bottom: 50px;
  margin-right: 60px;
}

.profile-container .middle-container .inputs-wrapper{
  width: min-content;
}

.profile-container .middle-container p {
  color: var(--font-color-secondary);
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.profile-container .middle-container input {
  width: 430px;
  height: 50px;
  border-radius: 15px;
  outline: none;
  border: none;
  background: var(--color-input-background);
  padding: 0px 15px;
  font-weight: bold;
}

.profile-container .middle-container input:focus {
  border: 2px solid var(--primary-color);
}

.profile-container .middle-container button {
  font-size: 13px;
  margin-top: 40px;
  width: 150px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}


.profile-container .middle-container button:hover {
    background: var(--primary-color);
}

.profile-container .right-container {
  width: 30%;
  padding-top: 50px;
}

.right-container .statistics-wrapper span{
  color: var(--font-color-secondary);
  font-size: 13px;  
 
}

.profile-container .right-container .statistics-wrapper {
  width: min-content;
}

.profile-container .right-container .statistic {
  width: 340px;
  height: 90px;
  background: var(--secundary-color);
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  padding: 0 20px;

  margin-top: 10px;
}

.statistics-wrapper .statistic .icon-statistics{
    height: 50px;
    width: 50px;
    background: #FFF;
    border-radius: 15px;
    margin-right: 10px;
    align-self: center;
}
.statistics-wrapper .statistic .statistics-information{
   margin-top: 20px;
}
.statistic .statistics-information p {
    
    font-size: 20px;
}

@media (max-width: 1250px) {
  .centralize-profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-container .left-container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 0px;
  }

  .profile-container .right-container {
    padding-left: 0px;
    padding-top: 0px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .profile-container .middle-container {
    margin-right: 0px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
