.sign-container{
   height: 100%;
   display: flex;
   flex-direction: row;
}
.inputs-container-sign{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navegation-container-sign{
    width: 35%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs-container-sign h1{
    margin-bottom: 3rem;
    color: var(--color-primary);
}

.inputs-container-sign input{
    width: 30rem;
    height: 5rem;
    border-radius: 1rem;
    outline: 0;
    padding:  0 1rem;
    border: 2px solid var(--color-input-border);
}

.inputs-container-sign input:focus{
    border: 2px solid var(--color-primary);
}
.inputs-container-sign input::placeholder{
    color: var(--color-input-border);
}

.inputs-container-sign button{
    width: 15rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    font-weight: bolder;
    outline: none;
}


.inputs-container-sign button:hover{
    background-color: var(--color-primary-dark);
}
.navegation-container-sign h1{
    color: var(--color-white);
    margin-bottom: 3rem;
}

.navegation-container-sign a{
    width: 15rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: var(--color-white);
    text-decoration: none;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.navegation-container-sign a:hover{
    background-color: var(--white-little-dark);
}