.login-container{
   height: 100%;
   display: flex;
   flex-direction: row;
}
.left-container{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-container{
    width: 35%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-container h1{
    margin-bottom: 3rem;
    color: var(--color-primary);
}

.left-container input{
    width: 30rem;
    height: 5rem;
    border-radius: 1rem;
    outline: 0;
    padding:  0 1rem;
    border: 2px solid var(--color-input-border);
}

.left-container input:focus{
    border: 2px solid var(--color-primary);
}
.left-container input::placeholder{
    color: var(--color-input-border);
}

.left-container button{
    width: 15rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    font-weight: bolder;
    outline: none;
}



.right-container h1{
    color: var(--color-white);
    margin-bottom: 3rem;
}

.right-container a{
    width: 15rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: var(--color-white);
    text-decoration: none;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}